<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="css/style.css">
	<title>ログイン画面｜kakeibo_b</title>
		<style type="text/css">
		body{
			min-width:700px;
		}
		#main_login form{
			 text-align: right;
   			 width: 420px;
    		 margin: 0 auto 40px ;
		}
		#main_login p{
			margin-bottom: 0px;
			text-align: right;
		}
		#main_login input:not(.login){
			height: 17px;
   			vertical-align: middle;
		}
		#main_login form span{
			color: red;
		}
		#main_login p.sessionerror{
			color: red;
		    font-size: 18px;
		    text-align: center;
		}
	</style>
</head>
<body>
<header>
    <h1><img src="img/kakeibo_logo.png" class="logo" alt="チームBの家計簿アプリケーション"></h1>
</header>

<div id="main_login">
	<p class="sessionerror" th:text="${sessionError}"></p>
	<h1 id="login">ログイン</h1>
	<form action="/login_check" method="post">
		<p>ユーザー名&nbsp;&nbsp;<input type="text" name="name" ></p>
		<p>パスワード&nbsp;&nbsp;<input type="password" name="pass" ></p>
		<span  th:text="${errorlogin}"></span> 
		<p><input type="submit" value="ログイン" class="login"></p>
	</form>
		<a href="/sign_up">新規登録はこちら</a>


</div>

<footer>
	<p>&copy; 2022WEBプログラマー養成科 teamB</p>
</footer>
</body>
</html>
