<!DOCTYPE HTML>
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="css/style.css">
	<title>登録完了｜kakeibo_b</title>
</head>

<body>
<header>
    <h1><img src="img/kakeibo_logo.png" class="logo" alt="チームBの家計簿アプリケーション"></h1>
</header>

<div id="main_login">
	<h1 id="login">登録が完了しました</h1>
		<p>ユーザー名:[[${kakeibo.name}]]</p>
		<p>パスワード:[[${kakeibo.pass}]]</p>
		
		<p><a href="/">TOP画面へ</a></p>


</div>

<footer>
	<p>&copy; 2022WEBプログラマー養成科 teamB</p>
</footer>
</body>
</html>

